<style>
    .desc-container {
    width: 100%;
    font-family: 'ABCWhyte-Book';
    text-align: left
    font-size: 12px;
    }
</style>

<div class="desc-container">
    {{ product.metafields.my_fields.description | t }}
</div>