<style>
    .submark-box {
        width: 100%;
        background-color: #561C24;
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .submark {
        height: 160px;
    }
</style>

<div class="submark-box">
    <img src="https://cdn.shopify.com/s/files/1/0021/7474/6681/files/Starling_submark_red_07c58594-8fee-4b85-a4fd-2298fb890880.png?v=1710266094" class="submark">
</div>