{{ 'section-image-gallery.css' | asset_url | stylesheet_tag }}


{% assign max_images = section.settings.num_columns | times: section.settings.num_rows %}

<div class="image-gallery grid grid--{{ section.settings.num_columns }}">
  {% for block in section.blocks limit: max_images %}
    <div class="image-gallery-item">
      <img src="{{ block.settings.image | img_url: '300x' }}" alt="">
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.image-gallery.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
    "type": "range",
    "id": "num_columns",
    "label": "Number of Columns",
    "min": 2,
    "max": 4,
    "default": 3
  },
  {
    "type": "range",
    "id": "num_rows",
    "label": "Number of Rows",
    "min": 1,
    "max": 10,
    "default": 5
  }
 ],
 "blocks": 
 [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  
  "presets": [
    {
      "name": "t:sections.image-gallery.presets.name"
    }
  ]
}
{% endschema %}