.related-products {
    display: block;
}

.related-products__heading {
    margin: 0 0 3rem;
    font-family: 'AubergeScriptBasicOne';
    font-size: 50px;
    text-align: center;
    text-transform: lowercase;
}